In [155]:
#importing dependencies
import csv
import pandas as pd
import numpy as np

In [156]:
#setting file paths
file0_csv = '04-Pandas/PyCitySchools/Resources/schools_complete.csv'
file1_csv = '04-Pandas/PyCitySchools/Resources/students_complete.csv'

In [157]:
#creating initial pandas dataframes
schools_df = pd.read_csv(file0_csv)
students_df = pd.read_csv(file1_csv)

In [158]:
#creating district only dataframe
district_only_df = schools_df.loc[schools_df['type'] == 'District', :]

In [159]:
total_schools = district_only_df["type"].count()

In [160]:
#creating total students object
total_students = district_only_df['size'].sum()

In [161]:
#creating total budget object
total_budget = district_only_df['budget'].sum()

In [162]:
#merging district only and students dataframes
merged_df = pd.merge(district_only_df, students_df, on="school_name")

In [163]:
#creating math and reading pass/fail categories and recasting those categories as integers
bins = [0, 69, 100]
group_names = [0, 1]
#
merged_df["Pass or Fail, Math"] = pd.cut(merged_df['math_score'], bins, labels=group_names)
merged_df["Pass or Fail, Reading"] = pd.cut(merged_df['reading_score'], bins, labels=group_names)
#
int_mth_stu = merged_df.astype({'Pass or Fail, Math': 'int64'})
int_rd_stu = merged_df.astype({'Pass or Fail, Reading': 'int64'})

In [164]:
#creating average math score object
average_math_score = merged_df['math_score'].mean()

In [165]:
#creating average reading score object
average_reading_score = merged_df['reading_score'].mean()

In [166]:
#creating percent pass/fail math/reading objects
prc_mth = int_mth_stu['Pass or Fail, Math'].sum() / total_students * 100
prc_rd = int_rd_stu['Pass or Fail, Reading'].sum() / total_students * 100

In [167]:
#creating overall passing rate object
overall = (prc_mth + prc_rd) / 2

In [168]:
#an attempt at a title
district_schools = "Overview"

In [169]:
#building and populating district only dataframe
district_overview = pd.DataFrame({
    "District Schools": [district_schools],
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [prc_mth],
    "% Passing Reading": [prc_rd],
    "Overall Passing Rate": [overall]
    })
#formating rows
district_overview['Total Budget'] = district_overview['Total Budget'].map("${:.2f}".format)
district_overview['Average Math Score'] = district_overview['Average Math Score'].map("%{:.2f}".format)
district_overview['Average Reading Score'] = district_overview['Average Reading Score'].map("%{:.2f}".format)
district_overview['% Passing Math'] = district_overview['% Passing Math'].map("%{:.2f}".format)
district_overview['% Passing Reading'] = district_overview['% Passing Reading'].map("%{:.2f}".format)
district_overview['Overall Passing Rate'] = district_overview['Overall Passing Rate'].map("%{:.2f}".format)
#
#calling district overview dataframe
#
district_overview

,District Schools,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Overview,7,26976,$17347923.00,%76.99,%80.96,%66.52,%80.91,%73.71

In [170]:
#In the above data_frame I was working under the assumption that I was meant to create a district only,
#as in, not charter over view. Below I'll build what was actually asked for.

In [171]:
all_the_schools_df = schools_df

In [172]:
#total schools object
every_school='All Schools'

In [173]:
#creating schools count
all_schools = all_the_schools_df["type"].count()

In [174]:
#creating total students object
totes_students = all_the_schools_df['size'].sum()

In [175]:
#creating budget count
totes_budget = all_the_schools_df['budget'].sum()

In [176]:
#merging district only and students dataframes
merger_df = pd.merge(all_the_schools_df, students_df, on="school_name")

In [177]:
#creating math and reading pass/fail categories and recasting those categories as integers
bins = [0, 69, 100]
group_names = [0, 1]
#
merger_df["Pass or Fail, Math"] = pd.cut(merger_df['math_score'], bins, labels=group_names)
merger_df["Pass or Fail, Reading"] = pd.cut(merger_df['reading_score'], bins, labels=group_names)
#
int_mth_students = merger_df.astype({'Pass or Fail, Math': 'int64'})
int_rd_students = merger_df.astype({'Pass or Fail, Reading': 'int64'})

In [178]:
#creating average math score object
average_math = merger_df['math_score'].mean()

In [179]:
#creating average reading score object
average_reading = merger_df['reading_score'].mean()

In [180]:
#creating percent pass/fail math/reading objects
prc__mth = int_mth_students['Pass or Fail, Math'].sum() / totes_students * 100
prc__rd = int_rd_students['Pass or Fail, Reading'].sum() / totes_students * 100

In [181]:
#creating overall passing rate object
overall_obj = (prc__mth + prc__rd) / 2

In [182]:
#building and populating district only dataframe
schools_overview = pd.DataFrame({
    "Total Schools": [all_schools],
    "Total Students": [totes_students],
    "Total Budget": [totes_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [prc__mth],
    "% Passing Reading": [prc__rd],
    "Overall Passing Rate": [overall_obj]
    })
#formating rows
schools_overview['Total Budget'] = schools_overview['Total Budget'].map("${:.2f}".format)
schools_overview['Average Math Score'] = schools_overview['Average Math Score'].map("%{:.2f}".format)
schools_overview['Average Reading Score'] = schools_overview['Average Reading Score'].map("%{:.2f}".format)
schools_overview['% Passing Math'] = schools_overview['% Passing Math'].map("%{:.2f}".format)
schools_overview['% Passing Reading'] = schools_overview['% Passing Reading'].map("%{:.2f}".format)
schools_overview['Overall Passing Rate'] = schools_overview['Overall Passing Rate'].map("%{:.2f}".format)
#
schools_overview

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,$24649428.00,%78.99,%81.88,%74.98,%85.81,%80.39

In [183]:
# some preliminary cleanup to prepare for the next step 
converted_mer=merger_df.copy()
converted_mer["size"] = converted_mer.loc[:, "size"].astype(float)

In [184]:
# in order to avoid endless copy pasting as well as to try and be more pythonic I am building the following
# dataframes from for loops. I discovered that by using .unique, list(), and .loc it is possible to create
# a list of databases which can then be iterated through with for loops to populate other lists which are then
# used to build the data frame
#
# here I create the initial school name list and the empty lists which will be populated with the second
# for loop
all_schools=list(converted_mer['school_name'].unique())
frames=[]
types=[]
names=[]
money=[]
pop=[]
perc_m=[]
perc_r=[]
mth_m=[]
red_m=[]
# the first loop gives me a list with 15 dataframes, one for each school
for x in all_schools:
    new_frame=converted_mer.loc[converted_mer['school_name']==x]
    frames.append(new_frame)
# the second loop populates the empty lists from above 
for i in range(0,15,1):
    obj=str(frames[i].type.unique())
    types.append(obj)
    objj=str(frames[i].school_name.unique())
    names.append(objj) 
    objjj=int(frames[i].budget.unique())
    money.append(objjj)
    size_obj=int(frames[i]['size'].unique())
    pop.append(size_obj)
    qwert=frames[i].astype({'Pass or Fail, Math': 'int64'})
    twerp=frames[i].astype({'Pass or Fail, Reading': 'int64'})
    simp=qwert['Pass or Fail, Math'].sum()/size_obj*100
    pims=twerp['Pass or Fail, Reading'].sum()/size_obj*100
    perc_m.append(simp)
    perc_r.append(pims)
    objjjj=frames[i]['math_score'].mean()
    mth_m.append(objjjj)
    objjjjj=frames[i]['reading_score'].mean()
    red_m.append(objjjjj)

In [185]:
# needed to use numpy to do some array arithmatic
budget=np.array(money)/np.array(pop)
over_a = (np.array(perc_m) + np.array(perc_r)) / 2

In [186]:
# here the dataframe is being contruted by hand and with the lists from above
individ_df=pd.DataFrame({
    "School Name":names,
    "School Type":types, 
    "Total Students": pop,
    "Total School Budget":money,
    "Per Student Budget": budget,
    "Average Math Score": mth_m,
    "Average Reading Score": red_m,
    "% Passing Math": perc_m,
    "% Passing Reading": perc_r,
     "Overall Passing Rate": over_a
    })

In [187]:
# and here we have our dataframe
individ_df.head(15)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,['Huang High School'],['District'],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
1,['Figueroa High School'],['District'],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
2,['Shelton High School'],['Charter'],1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
3,['Hernandez High School'],['District'],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
4,['Griffin High School'],['Charter'],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,['Wilson High School'],['Charter'],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
6,['Cabrera High School'],['Charter'],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
7,['Bailey High School'],['District'],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
8,['Holden High School'],['Charter'],427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
9,['Pena High School'],['Charter'],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,['Wright High School'],['Charter'],1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
11,['Rodriguez High School'],['District'],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
12,['Johnson High School'],['District'],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
13,['Ford High School'],['District'],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
14,['Thomas High School'],['Charter'],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520

In [188]:
#top five performing schools based on Overall Passing Grade
individ_df.sort_values(by='Overall Passing Rate', ascending=False).head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
6,['Cabrera High School'],['Charter'],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
14,['Thomas High School'],['Charter'],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
9,['Pena High School'],['Charter'],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
4,['Griffin High School'],['Charter'],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,['Wilson High School'],['Charter'],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [189]:
# bottom five schools performing schools based on Overall Passing Grade
individ_df.sort_values(by='Overall Passing Rate').head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
11,['Rodriguez High School'],['District'],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
1,['Figueroa High School'],['District'],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
0,['Huang High School'],['District'],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
12,['Johnson High School'],['District'],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
13,['Ford High School'],['District'],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [190]:
# same approach as above in constructing by grade reading and math averages data frames
all_schools=list(converted_mer['school_name'].unique())
names=[]
frames=[]
nueve=[]
diez=[]
once=[]
doce=[]
nin=[]
kumme=[]
uksteist=[]
kaksteist=[]
for x in all_schools:
    new_frame=converted_mer.loc[converted_mer['school_name']==x]
    frames.append(new_frame)
for i in range(0,15,1):
    obj=str(frames[i].school_name.unique())
    names.append(obj)
    nineth=frames[i].loc[frames[i]['grade']=='9th']
    tenth=frames[i].loc[frames[i]['grade']=='10th']
    eleventh=frames[i].loc[frames[i]['grade']=='11th']
    twelfth=frames[i].loc[frames[i]['grade']=='12th']
    n_mth=nineth['math_score'].mean()
    n_red=nineth['reading_score'].mean()
    nueve.append(n_mth)
    nin.append(n_red)
    t_mth=tenth['math_score'].mean()
    t_red=tenth['reading_score'].mean()
    diez.append(t_mth)
    kumme.append(t_red)
    e_mth=eleventh['math_score'].mean()
    e_red=eleventh['reading_score'].mean()
    once.append(e_mth)
    uksteist.append(e_red)
    v_mth=twelfth['math_score'].mean()
    v_red=twelfth['math_score'].mean()
    doce.append(v_mth)
    kaksteist.append(v_red)

In [191]:
# constructing math averages dataframe
math_df=pd.DataFrame({
    'School Name':names,
    "9th":nueve,
    "10th":diez, 
    "11th": once,
    "12th":doce,
    })

In [192]:
# math dataframe
math_df

                  School Name        9th       10th       11th       12th
0       ['Huang High School']  77.027251  75.908735  76.446602  77.225641
1    ['Figueroa High School']  76.403037  76.539974  76.884344  77.151369
2     ['Shelton High School']  83.420755  82.917411  83.383495  83.778976
3   ['Hernandez High School']  77.438495  77.337408  77.136029  77.186567
4     ['Griffin High School']  82.044010  84.229064  83.842105  83.356164
5      ['Wilson High School']  83.085578  83.724422  83.195326  83.035794
6     ['Cabrera High School']  83.094697  83.154506  82.765560  83.277487
7      ['Bailey High School']  77.083676  76.996772  77.515588  76.492218
8      ['Holden High School']  83.787402  83.429825  85.000000  82.855422
9        ['Pena High School']  83.625455  83.372000  84.328125  84.121547
10     ['Wright High School']  83.264706  84.010288  83.836782  83.644986
11  ['Rodriguez High School']  76.859966  76.612500  76.395626  77.690748
12    ['Johnson High School']  77.187857  76.691117  77.491653  76.863248
13       ['Ford High School']  77.361345  77.672316  76.918058  76.179963
14     ['Thomas High School']  83.590022  83.087886  83.498795  83.497041

In [193]:
# reading
reading_df=pd.DataFrame({
    'School Name':names,
    "9th":nin,
    "10th":kumme, 
    "11th": uksteist,
    "12th":kaksteist,
    })

In [194]:
# voila
reading_df

                  School Name        9th       10th       11th       12th
0       ['Huang High School']  81.290284  81.512386  81.417476  77.225641
1    ['Figueroa High School']  81.198598  81.408912  80.640339  77.151369
2     ['Shelton High School']  84.122642  83.441964  84.373786  83.778976
3   ['Hernandez High School']  80.866860  80.660147  81.396140  77.186567
4     ['Griffin High School']  83.369193  83.706897  84.288089  83.356164
5      ['Wilson High School']  83.939778  84.021452  83.764608  83.035794
6     ['Cabrera High School']  83.676136  84.253219  83.788382  83.277487
7      ['Bailey High School']  81.303155  80.907183  80.945643  76.492218
8      ['Holden High School']  83.677165  83.324561  83.815534  82.855422
9        ['Pena High School']  83.807273  83.612000  84.335938  84.121547
10     ['Wright High School']  83.833333  83.812757  84.156322  83.644986
11  ['Rodriguez High School']  80.993127  80.629808  80.864811  77.690748
12    ['Johnson High School']  81.260714  80.773431  80.616027  76.863248
13       ['Ford High School']  80.632653  81.262712  80.403642  76.179963
14     ['Thomas High School']  83.728850  84.254157  83.585542  83.497041

In [214]:
# creating per student spending data frame
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", ">$645"]
individ_df["Per Student Spending Ranges"] = pd.cut(individ_df["Per Student Budget"], spending_bins, labels=group_names)
cash=individ_df.drop(['School Name','School Type','Total Students','Total School Budget','Per Student Budget'],
         axis=1)
cash_money=cash.groupby('Per Student Spending Ranges')
fire_bag_yeah=cash_money.mean()
fire_bag_yeah

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Per Student Spending Ranges,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
>$645,76.997210,81.027843,66.164813,81.133951,73.649382

In [217]:
# creating by population data frame
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
individ_df["School Size"] = pd.cut(individ_df["Total Students"], size_bins, labels=group_names)
pop=individ_df.drop(['School Name','School Type','Total Students','Total School Budget','Per Student Budget'],
         axis=1)
pop_u=pop.groupby('School Size')
population=pop_u.mean()
population

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [227]:
# school type datafram
pop=individ_df.drop(['School Name','Total Students','Total School Budget','Per Student Budget'],
         axis=1)
kind=pop.groupby('School Type')
kind_of=kind.mean()
kind_of

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
['Charter'],83.473852,83.896421,93.620830,96.586489,95.103660
['District'],76.956733,80.966636,66.548453,80.799062,73.673757