In [74]:
#importing dependencies
import csv
import pandas as pd
import numpy as np

In [75]:
#setting file paths
file0_csv = '04-Pandas/PyCitySchools/Resources/schools_complete.csv'
file1_csv = '04-Pandas/PyCitySchools/Resources/students_complete.csv'

In [76]:
#creating initial pandas dataframes
schools_df = pd.read_csv(file0_csv)
students_df = pd.read_csv(file1_csv)

In [77]:
#creating district only dataframe
district_only_df = schools_df.loc[schools_df['type'] == 'District', :]

In [78]:
total_schools = district_only_df["type"].count()

In [79]:
#creating total students object
total_students = district_only_df['size'].sum()

In [80]:
#creating total budget object
total_budget = district_only_df['budget'].sum()

In [81]:
#merging district only and students dataframes
merged_df = pd.merge(district_only_df, students_df, on="school_name")

In [82]:
#creating math and reading pass/fail categories and recasting those categories as integers
bins = [0, 69, 100]
group_names = [0, 1]
#
merged_df["Pass or Fail, Math"] = pd.cut(merged_df['math_score'], bins, labels=group_names)
merged_df["Pass or Fail, Reading"] = pd.cut(merged_df['reading_score'], bins, labels=group_names)
#
int_mth_stu = merged_df.astype({'Pass or Fail, Math': 'int64'})
int_rd_stu = merged_df.astype({'Pass or Fail, Reading': 'int64'})

In [83]:
#creating average math score object
average_math_score = merged_df['math_score'].mean()

In [84]:
#creating average reading score object
average_reading_score = merged_df['reading_score'].mean()

In [85]:
#creating percent pass/fail math/reading objects
prc_mth = int_mth_stu['Pass or Fail, Math'].sum() / total_students * 100
prc_rd = int_rd_stu['Pass or Fail, Reading'].sum() / total_students * 100

In [86]:
#creating overall passing rate object
overall = (prc_mth + prc_rd) / 2

In [87]:
#an attempt at a title
district_schools = "Overview"

In [88]:
#building and populating district only dataframe
district_overview = pd.DataFrame({
    "District Schools": [district_schools],
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [prc_mth],
    "% Passing Reading": [prc_rd],
    "Overall Passing Rate": [overall]
    })
#formating rows
district_overview['Total Budget'] = district_overview['Total Budget'].map("${:.2f}".format)
district_overview['Average Math Score'] = district_overview['Average Math Score'].map("%{:.2f}".format)
district_overview['Average Reading Score'] = district_overview['Average Reading Score'].map("%{:.2f}".format)
district_overview['% Passing Math'] = district_overview['% Passing Math'].map("%{:.2f}".format)
district_overview['% Passing Reading'] = district_overview['% Passing Reading'].map("%{:.2f}".format)
district_overview['Overall Passing Rate'] = district_overview['Overall Passing Rate'].map("%{:.2f}".format)
#
#calling district overview dataframe
#
district_overview

,District Schools,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Overview,7,26976,$17347923.00,%76.99,%80.96,%66.52,%80.91,%73.71

In [89]:
#In the above data_frame I was working under the assumption that I was meant to create a district only,
#as in, not charter over view. Below I'll build what was actually asked for.

In [90]:
all_the_schools_df = schools_df

In [91]:
#total schools object
every_school='All Schools'

In [92]:
#creating schools count
all_schools = all_the_schools_df["type"].count()

In [93]:
#creating total students object
totes_students = all_the_schools_df['size'].sum()

In [94]:
#creating budget count
totes_budget = all_the_schools_df['budget'].sum()

In [95]:
#merging district only and students dataframes
merger_df = pd.merge(all_the_schools_df, students_df, on="school_name")

In [96]:
#creating math and reading pass/fail categories and recasting those categories as integers
bins = [0, 69, 100]
group_names = [0, 1]
#
merger_df["Pass or Fail, Math"] = pd.cut(merger_df['math_score'], bins, labels=group_names)
merger_df["Pass or Fail, Reading"] = pd.cut(merger_df['reading_score'], bins, labels=group_names)
#
int_mth_students = merger_df.astype({'Pass or Fail, Math': 'int64'})
int_rd_students = merger_df.astype({'Pass or Fail, Reading': 'int64'})

In [97]:
#creating average math score object
average_math = merger_df['math_score'].mean()

In [98]:
#creating average reading score object
average_reading = merger_df['reading_score'].mean()

In [99]:
#creating percent pass/fail math/reading objects
prc__mth = int_mth_students['Pass or Fail, Math'].sum() / totes_students * 100
prc__rd = int_rd_students['Pass or Fail, Reading'].sum() / totes_students * 100

In [100]:
#creating overall passing rate object
overall_obj = (prc__mth + prc__rd) / 2

In [101]:
#building and populating district only dataframe
schools_overview = pd.DataFrame({
    "Total Schools": [all_schools],
    "Total Students": [totes_students],
    "Total Budget": [totes_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [prc__mth],
    "% Passing Reading": [prc__rd],
    "Overall Passing Rate": [overall_obj]
    })
#formating rows
schools_overview['Total Budget'] = schools_overview['Total Budget'].map("${:.2f}".format)
schools_overview['Average Math Score'] = schools_overview['Average Math Score'].map("%{:.2f}".format)
schools_overview['Average Reading Score'] = schools_overview['Average Reading Score'].map("%{:.2f}".format)
schools_overview['% Passing Math'] = schools_overview['% Passing Math'].map("%{:.2f}".format)
schools_overview['% Passing Reading'] = schools_overview['% Passing Reading'].map("%{:.2f}".format)
schools_overview['Overall Passing Rate'] = schools_overview['Overall Passing Rate'].map("%{:.2f}".format)
#
schools_overview

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,$24649428.00,%78.99,%81.88,%74.98,%85.81,%80.39

In [107]:
# some preliminary cleanup to prepare for the next step 
converted_mer=merger_df.copy()
converted_mer["size"] = converted_mer.loc[:, "size"].astype(float)

In [103]:
# in order to avoid endless copy pasting as well as to try and be more pythonic I am building the following
# dataframes from for loops. I discovered that by using .unique, list(), and .loc it is possible to create
# a list of databases which can then be iterated through with for loops to populate other lists which are then
# used to build the data frame
#
# here I create the initial school name list and the empty lists which will be populated with the second
# for loop
all_schools=list(converted_mer['school_name'].unique())
frames=[]
types=[]
names=[]
money=[]
pop=[]
perc_m=[]
perc_r=[]
mth_m=[]
red_m=[]
# the first loop gives me a list with 15 dataframes, one for each school
for x in all_schools:
    new_frame=converted_mer.loc[converted_mer['school_name']==x]
    frames.append(new_frame)
# the second loop populates the empty dictionaries from above 
for i in range(0,15,1):
    obj=str(frames[i].type.unique())
    types.append(obj)
    objj=str(frames[i].school_name.unique())
    names.append(objj) 
    objjj=int(frames[i].budget.unique())
    money.append(objjj)
    size_obj=int(frames[i]['size'].unique())
    pop.append(size_obj)
    qwert=frames[i].astype({'Pass or Fail, Math': 'int64'})
    twerp=frames[i].astype({'Pass or Fail, Reading': 'int64'})
    simp=qwert['Pass or Fail, Math'].sum()/size_obj*100
    pims=twerp['Pass or Fail, Reading'].sum()/size_obj*100
    perc_m.append(simp)
    perc_r.append(pims)
    objjjj=frames[i]['math_score'].mean()
    mth_m.append(objjjj)
    objjjjj=frames[i]['reading_score'].mean()
    red_m.append(objjjjj)

In [104]:
# needed to use numpy to do some array arithmatic
budget=np.array(money)/np.array(pop)
over_a = (np.array(perc_m) + np.array(perc_r)) / 2

In [105]:
# here the dataframe is being contruted by hand and with the dictionaries from above
school = 'Huang High School'
individ_df=pd.DataFrame({
    "School Name":names,
    "School Type":types, 
    "Total Students": pop,
    "Total School Budget":money,
    "Per Student Budget": budget,
    "Average Math Score": mth_m,
    "Average Reading Score": per_r,
    "% Passing Math": perc_m,
    "% Passing Reading": perc_r,
     "Overall Passing Rate": over_a
    })

In [106]:
# and here we have our dataframe
individ_df.head(15)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,['Huang High School'],['District'],2917,1910635,655.0,76.629414,81.033963,65.683922,81.316421,73.500171
1,['Figueroa High School'],['District'],2949,1884411,639.0,76.711767,83.975780,65.988471,80.739234,73.363852
2,['Shelton High School'],['Charter'],1761,1056600,600.0,83.359455,81.158020,93.867121,95.854628,94.860875
3,['Hernandez High School'],['District'],4635,3022020,652.0,77.289752,80.746258,66.752967,80.862999,73.807983
4,['Griffin High School'],['Charter'],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,['Wilson High School'],['Charter'],2283,1319574,578.0,83.274201,80.934412,93.867718,96.539641,95.203679
6,['Cabrera High School'],['Charter'],1858,1081356,582.0,83.061895,83.814988,94.133477,97.039828,95.586652
7,['Bailey High School'],['District'],4976,3124928,628.0,77.048432,81.182722,66.680064,81.933280,74.306672
8,['Holden High School'],['Charter'],427,248087,581.0,83.803279,80.966394,92.505855,96.252927,94.379391
9,['Pena High School'],['Charter'],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,['Wright High School'],['Charter'],1800,1049400,583.0,83.682222,80.744686,93.333333,96.611111,94.972222
11,['Rodriguez High School'],['District'],3999,2547363,637.0,76.842711,83.725724,66.366592,80.220055,73.293323
12,['Johnson High School'],['District'],4761,3094650,650.0,77.072464,83.848930,66.057551,81.222432,73.639992
13,['Ford High School'],['District'],2739,1763916,644.0,77.102592,83.989488,68.309602,79.299014,73.804308
14,['Thomas High School'],['Charter'],1635,1043130,638.0,83.418349,83.955000,93.272171,97.308869,95.290520